{% extends ':Back:base.html.twig' %}
{% block title %}BabySitters{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li><a href="{{ path('back_administration_admins') }}">BabySitters</a></li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Last login</th>
                            <th>State WEB</th>
                            <th>State BabySitter</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.firstName }} {{ user.lastName }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.lastLogin|date('d F Y, H:i') }}</td>
                                <td class="center">
                                    {% if user.enabled %}
                                        <a href="{{ path('back_user_babysiter_enable',{'id':user.id}) }}"><span class="label label-sm label-success">Enabled</span></a>
                                    {% else %}
                                        <a href="{{ path('back_user_babysiter_enable',{'id':user.id}) }}"><span class="label label-sm label-danger">Disabled</span></a>
                                    {% endif %}
                                </td>
                                <td class="center">
                                    {% if user.babysitter.validated %}
                                        <a href="{{ path('back_user_babysiter_validated',{'id':user.id}) }}"><span class="label label-sm label-success">Validated</span></a>
                                    {% else %}
                                        <a href="{{ path('back_user_babysiter_validated',{'id':user.id}) }}"><span class="label label-sm label-danger">Pending</span></a>
                                    {% endif %}
                                </td>
                                <td class="center">
                                    {{ macros.boutton(path('back_user_babysiter_details',{'id':user.id}),'fa-eye','btn-dark-grey',"Details") }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(users) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}