<li {% if app.request.getPathInfo|split('/admin/administration')|length > 1 %} class="active open"{% endif %}>
    <a href="javascript:void(0)"><i class="clip-settings"></i>
        <span class="title">Administration</span><i class="icon-arrow"></i>
        <span class="selected"></span>
    </a>
    <ul class="sub-menu">
        <li {% if app.request.get('_route') in ['configuration_agence'] %} class="active open"{% endif %} >
            <a href="javascript:void(0)"><i class="clip-settings"></i>
                <span class="title">Configuration</span><i class="icon-arrow"></i>
            </a>
            <ul class="sub-menu">
                <li {% if app.request.get('_route')in ['configuration_agence'] %} class="open"{% endif %}>
                    <a href="{{ path('configuration_agence') }}">
                        <span class="title">Agence</span>
                    </a>
                </li>
            </ul>
            <ul class="sub-menu">
                <li {% if app.request.get('_route')in ['configuration_etat'] %} class="open"{% endif %}>
                    <a href="{{ path('configuration_etat') }}">
                        <span class="title">Sous Etats</span>
                    </a>
                </li>
            </ul>
        </li>
        <li {% if app.request.get('_route') in ['liste_client','ajouter_client','group','user','back_emails'] %} class="active open"{% endif %} >
            <a href="javascript:void(0)"><i class="clip-user-3"></i>
                <span class="title">Utilisateurs</span><i class="icon-arrow"></i>
            </a>
            <ul class="sub-menu">
                <li {% if app.request.get('_route')in ['liste_client','ajouter_client'] %} class="open"{% endif %}>
                    <a href="{{ path('liste_client') }}">
                        <span class="title">Clients</span>
                    </a>
                </li>
                <li {% if app.request.get('_route')=='user' %} class="open"{% endif %}>
                    <a href="{{ path('user') }}">
                        <span class="title">Utilisateurs</span>
                    </a>
                </li>
                <li {% if app.request.get('_route')=='group' %} class="open"{% endif %}>
                    <a href="{{ path('group') }}">
                        <span class="title">Groupes</span>
                    </a>
                </li>
                <li {% if app.request.get('_route')=='back_emails' %} class="open"{% endif %}>
                    <a href="{{ path('back_emails') }}">
                        <span class="title">Emails</span>
                    </a>
                </li>
            </ul>
        </li>
        <li {% if app.request.get('_route') in ['amicale','convention_amicale','amicale_hotel'] %} class="active open"{% endif %} >
            <a href="javascript:void(0)"><i class="clip-user-plus"></i>
                <span class="title">B2B</span><i class="icon-arrow"></i>
            </a>
            <ul class="sub-menu">
                <li {% if app.request.get('_route')=='amicale' %} class="open"{% endif %}>
                    <a href="{{ path('amicale') }}">
                        <span class="title">Amicales</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>