{% import ":Back:macros.html.twig" as macros %}
{% import ":Back:form.html.twig" as formulaire %}
<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <!-- Page Title -->
    <title>{% block title %}BabySitter{% endblock %}</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="BabySItter">
    <meta name="author" content="SoapTheme">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('front-assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front-assets/css/font-awesome.min.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('front-assets/css/animate.min.css') }}">

        <!-- Current Page Styles -->
        <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/components/revolution_slider/css/settings.css') }}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/components/revolution_slider/css/style.css') }}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/components/jquery.bxslider/jquery.bxslider.css') }}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/components/flexslider/flexslider.css') }}" media="screen"/>

        <!-- Main Style -->
        <link id="main-style" rel="stylesheet" href="{{ asset('front-assets/css/style.css') }}">

        <!-- Custom Styles -->
        <link rel="stylesheet" href="{{ asset('front-assets/css/custom.css') }}">

        <!-- Updated Styles -->
        <link rel="stylesheet" href="{{ asset('front-assets/css/updates.css') }}">

        <!-- Responsive Styles -->
        <link rel="stylesheet" href="{{ asset('front-assets/css/responsive.css') }}">

        <!-- CSS for IE --><!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/ie.css') }}"/><![endif]-->


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --><!--[if lt IE 9]>
        <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>

<div id="page-wrapper">
    {% include ':Front:header.html.twig' %}
    {% if app.request.get('_route')=='front_homepage' %}
        {% include ':Front:slider.html.twig' %}
    {% else %}
        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">{{ block('title') }}</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    {% block breadcrumbs %}
                        <li><a href="{{ path('front_homepage') }}">Homepage</a></li>
                    {% endblock %}
                </ul>
            </div>
        </div>
    {% endif %}
    <section id="content">
        {% block body %}
        {% endblock %}
    </section>
    {% include ':Front:footer.html.twig' %}
</div>

<!-- Javascript -->
<script type="text/javascript" src="{{ asset('front-assets/js/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front-assets/js/jquery.noconflict.js') }}"></script>
<script type="text/javascript" src="{{ asset('front-assets/js/modernizr.2.7.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front-assets/js/jquery-migrate-1.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front-assets/js/jquery.placeholder.js') }}"></script>
<script type="text/javascript" src="{{ asset('front-assets/js/jquery-ui.1.10.4.min.js') }}"></script>

<!-- Twitter Bootstrap -->
<script type="text/javascript" src="{{ asset('front-assets/js/bootstrap.js') }}"></script>

<!-- load revolution slider scripts -->
<script type="text/javascript" src="{{ asset('front-assets/components/revolution_slider/js/jquery.themepunch.plugins.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front-assets/components/revolution_slider/js/jquery.themepunch.revolution.min.js') }}"></script>

<!-- load BXSlider scripts -->
<script type="text/javascript" src="{{ asset('front-assets/components/jquery.bxslider/jquery.bxslider.min.js') }}"></script>

<!-- Flex Slider -->
<script type="text/javascript" src="{{ asset('front-assets/components/flexslider/jquery.flexslider-min.js') }}"></script>

<!-- Google Map Api -->
<script type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script type="text/javascript" src="{{ asset('front-assets/js/gmap3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front-assets/js/calendar.js') }}"></script>

<!-- parallax -->
<script type="text/javascript" src="{{ asset('front-assets/js/jquery.stellar.min.js') }}"></script>

<!-- waypoint -->
<script type="text/javascript" src="{{ asset('front-assets/js/waypoints.min.js') }}"></script>

<!-- load page Javascript -->
<script type="text/javascript" src="{{ asset('front-assets/js/theme-scripts.js') }}"></script>
<script type="text/javascript" src="{{ asset('front-assets/js/scripts.js') }}"></script>

<script type="text/javascript">
    tjq(document).ready(function () {
        tjq('.revolution-slider').revolution(
                {
                    dottedOverlay: "none",
                    delay: 9000,
                    startwidth: 1170,
                    startheight: 646,
                    onHoverStop: "on",
                    hideThumbs: 10,
                    fullWidth: "on",
                    forceFullWidth: "on",
                    navigationType: "none",
                    shadow: 0,
                    spinner: "spinner4",
                    hideTimerBar: "on",
                });
    });
</script>
{% block jquery %}{% endblock %}
</body>
</html>

