<header id="header" class="navbar-static-top">
    {% include ':Front:topnav.html.twig' %}
    <div class="main-header">
        <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle"> Mobile Menu Toggle </a>
        <div class="container">
            <h1 class="logo navbar-brand">
                <a href="{{ path('front_homepage') }}" title="Flam Travel - home">
                    <img src="{{ asset('front-assets/images/logo.png') }}" alt="Flam Travel HTML5 Template" id="PrincipalLogo" width="300px" style="margin-top: 0px"/>
                </a>
            </h1>
            <nav id="main-menu" role="navigation">
                <ul class="menu">
                    <li class="menu-item-has-children">
                        <a href="{{ path('front_homepage') }}">Accueil</a>
                    </li>
                    <li class="menu-item-has-children">
                        {#<a href="{{ path('front_hoteltunisie_list') }}">Hôtels en tunisie</a>#}
                    </li>
                    <li class="menu-item-has-children">
                        {#<a href="{{ path('front_voyageorganise_liste') }}">Voyages organisés</a>#}
                    </li>
                    <li class="menu-item-has-children">
                        {#<a href="{{ path('front_programme_liste') }}">Programmes & activités</a>#}
                    </li>
                </ul>
            </nav>
        </div>

        <nav id="mobile-menu-01" class="mobile-menu collapse">
            <ul id="mobile-primary-menu" class="menu">
                <li>
                    <a href="index.html">Hôtels en tunisie</a>
                </li>
                <li>
                    <a href="hotel-index.html">Circuits</a>
                </li>
                <li>
                    <a href="flight-index.html">Hôtels à l'étranger</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="car-index.html">Vol</a>
                </li>
                <li>
                    <a href="cruise-index.html">Voyage de noce</a>
                </li>
                <li>
                    <a href="#">Voyage orgnanisé</a>
                </li>
                <li>
                    <a href="#">Voyage à la carte</a>
                </li>
            </ul>

            <ul class="mobile-topnav container">
                <li><a href="#">Mon compte</a></li>
                <li class="ribbon language menu-color-skin">
                    <a href="#" data-toggle="collapse">Français</a>
                    <ul class="menu mini">
                        <li><a href="#" title="Allemand">Anglais</a></li>
                        <li><a href="#" title="Allemand">Allemand</a></li>
                        <li class="active"><a href="#" title="Français">Français</a></li>
                    </ul>
                </li>
                <li><a href="#travelo-login" class="soap-popupbox">Se connecter</a></li>
                <li><a href="#travelo-signup" class="soap-popupbox">créé un compte</a></li>
                <li class="ribbon currency menu-color-skin">
                    <a href="#">USD</a>
                    <ul class="menu mini">
                        <li><a href="#" title="AUD">AUD</a></li>
                        <li><a href="#" title="BRL">BRL</a></li>
                        <li class="active"><a href="#" title="USD">USD</a></li>
                        <li><a href="#" title="CAD">CAD</a></li>
                        <li><a href="#" title="CHF">CHF</a></li>
                        <li><a href="#" title="CNY">CNY</a></li>
                        <li><a href="#" title="CZK">CZK</a></li>
                        <li><a href="#" title="DKK">DKK</a></li>
                        <li><a href="#" title="EUR">EUR</a></li>
                        <li><a href="#" title="GBP">GBP</a></li>
                        <li><a href="#" title="HKD">HKD</a></li>
                        <li><a href="#" title="HUF">HUF</a></li>
                        <li><a href="#" title="IDR">IDR</a></li>
                    </ul>
                </li>
            </ul>

        </nav>
    </div>
    <div id="travelo-signup" class="travelo-signup-box travelo-box">
        <div class="login-social">
            <a href="#" class="button login-facebook"><i class="soap-icon-facebook"></i>Login avec facebook</a>
            <a href="#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login avec Google+</a>
        </div>
        <div class="seperator"><label>OU</label></div>
        <div class="simple-signup">
            <div class="text-center signup-email-section">
                <a href="#" class="signup-email"><i class="soap-icon-letter"></i>Se connecter avec l'adresse email</a>
            </div>
            <p class="description">En m'inscrivant, j'admet être d'accord avec les termes de conditions de Flam Travel et les termes de garanties</p>
        </div>
        <div class="email-signup">
            <form>
                <div class="form-group">
                    <input type="text" class="input-text full-width" placeholder="Nom">
                </div>
                <div class="form-group">
                    <input type="text" class="input-text full-width" placeholder="Prénom">
                </div>
                <div class="form-group">
                    <input type="text" class="input-text full-width" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="input-text full-width" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" class="input-text full-width" placeholder="Confirmer Password">
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label> <input type="checkbox"> M'informer des nouveautés de </label>
                    </div>
                </div>
                <div class="form-group">
                    <p class="description">By signing up, I agree to Flam Travel's Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</p>
                </div>
                <button type="submit" class="full-width btn-medium">SIGNUP</button>
            </form>
        </div>
        <div class="seperator"></div>
        <p>Already a Flam Travel member? <a href="#travelo-login" class="goto-login soap-popupbox">Login</a></p>
    </div>
    <div id="travelo-login" class="travelo-login-box travelo-box">
        <div class="login-social">
            <a href="#" class="button login-facebook"><i class="soap-icon-facebook"></i>Login avec Facebook</a>
            <a href="#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login avec Google+</a>
        </div>
        <div class="seperator"><label>OU</label></div>
        <form>
            <div class="form-group">
                <input type="text" class="input-text full-width" placeholder="email address">
            </div>
            <div class="form-group">
                <input type="password" class="input-text full-width" placeholder="password">
            </div>
            <div class="form-group">
                <a href="#" class="forgot-password pull-right">Mot de passe oublié</a>
                <div class="checkbox checkbox-inline">
                    <label> <input type="checkbox"> Se souvenir de moi </label>
                </div>
            </div>
        </form>
        <div class="seperator"></div>
        <p>Vous n'avez pas de compte? <a href="#travelo-signup" class="goto-signup soap-popupbox">Créez un</a></p>
    </div>
</header>