<header id="header" class="navbar-static-top">
    {% include ':Front:topnav.html.twig' %}
    <div class="main-header">
        <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle"> Mobile Menu Toggle </a>
        <div class="container">
            <h1 class="logo navbar-brand" style="margin-right: 30px;">
                <a href="{{ path('front_homepage') }}" title=" BabySitter">
                    <img src="{{ asset('front-assets/images/logo.png') }}" alt="Flam Travel HTML5 Template" id="PrincipalLogo" width="300px" style="margin-top: 0px"/>
                </a>
            </h1>
            <nav id="main-menu" role="navigation">
                <ul class="menu" style="float: none">
                    <li style="padding-left: 20px;" class="menu-item-has-children {% if app.request.get('_route')=='front_homepage' %}active{% endif %}">
                        <a href="{{ path('front_homepage') }}">HomePage</a>
                    </li>
                    <li class="menu-item-has-children {% if app.request.get('_route')=='front_babysitter_liste' %}active{% endif %}">
                        <a href="{{ path('front_babysitter_liste') }}">Babysitters</a>
                    </li>
                    <li class="menu-item-has-children">
                        {#<a href="{{ path('front_voyageorganise_liste') }}">Voyages organisés</a>#}
                    </li>
                    <li class="menu-item-has-children">
                        {#<a href="{{ path('front_programme_liste') }}">Programmes & activités</a>#}
                    </li>
                </ul>
            </nav>
        </div>

        <nav id="mobile-menu-01" class="mobile-menu collapse">
            <ul id="mobile-primary-menu" class="menu">
                <li>
                    <a href="{{ path('front_homepage') }}">HomePage</a>
                </li>
                <li>
                    <a href="{{ path('front_babysitter_liste') }}">Babysitters</a>
                </li>
                {#<li>#}
                    {#<a href="flight-index.html">Hôtels à l'étranger</a>#}
                {#</li>#}
                {#<li class="menu-item-has-children">#}
                    {#<a href="car-index.html">Vol</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="cruise-index.html">Voyage de noce</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#">Voyage orgnanisé</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#">Voyage à la carte</a>#}
                {#</li>#}
            </ul>

            <ul class="mobile-topnav container">
                {% if app.security.token is null or not is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                {% else %}
                    <li><a> </a></li>
                    <li class="ribbon language menu-color-skin">
                        <a href="#">Hi {{ app.user }}</a>
                        <ul class="menu mini">
                            <li {% if app.request.get('_route')=='fos_user_profile_edit' %}class="active"{% endif %}><a href="{{ path('fos_user_profile_edit') }}"> <i class="clip-calendar"></i> &nbsp;Edit username or email</a>
                            <li {% if app.request.get('_route')=='fos_user_change_password' %}class="active"{% endif %}><a href="{{ path('fos_user_change_password') }}"> <i class="clip-bubble-4"></i> &nbsp;Edit my password</a></li>
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a target="_blank" href="{{ path('back_administration_homepage') }}">BackOffice</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_PARRENT') %}
                        <li><a target="_blank" href="{{ path('back_administration_homepage') }}">PARRENT</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_BABYSITTER') %}
                        <li class="ribbon language menu-color-skin">
                            <a href="#">BabySitter Space</a>
                            <ul class="menu mini">
                                <li {% if app.request.get('_route')=='Front_BabySitter_Profile_myprofile' %}class="active"{% endif %}><a href="{{ path('Front_BabySitter_Profile_myprofile') }}">My Profile</a></li>
                                <li {% if app.request.get('_route')=='Front_BabySitter_Profile_mycalendar' %}class="active"{% endif %}><a href="{{ path('Front_BabySitter_Profile_mycalendar') }}">My Calendar</a></li>
                                <li {% if app.request.get('_route')=='Front_BabySitter_Profile_listBooking' %}class="active"{% endif %}><a href="{{ path('Front_BabySitter_Profile_listBooking') }}">List booking</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout </a></li>
                {% endif %}
            </ul>

        </nav>
    </div>
</header>