{#<div id="slideshow">
    <div class="fullwidthbanner-container">
        <div class="revolution-slider" style="height: 0; overflow: hidden;">
            <ul>    <!-- SLIDE  -->
                <li data-masterspeed="500" data-slotamount="7" data-transition="turnoff-vertical">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/bg.jpg') }}" alt="">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div style="z-index: 2;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="500" data-speed="1500" data-y="324" data-x="-481" class="tp-caption sfb stb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/badaal.png') }}">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div style="z-index: 3;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="800" data-speed="1500" data-y="102" data-x="203" class="tp-caption skewfromright ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/area.png') }}">
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div style="z-index: 4;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="1100" data-speed="1500" data-y="205" data-x="389" class="tp-caption sfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/girl1.png') }}">
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div style="z-index: 5;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="1400" data-speed="1500" data-y="342" data-x="250" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/11.png') }}">
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div style="z-index: 6;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="4700" data-speed="1500" data-y="420" data-x="122" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/arrow11.png') }}">
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div style="z-index: 7;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="5000" data-speed="1500" data-y="428" data-x="130" class="tp-caption large_bold_black2_1 lfb ltb tp-resizeme start">
                        <span style="color: rgb(253, 183, 20);">England</span>
                        <span style="font-size: 8px">à partir de</span> 990 <span style="font-size: 8px">DT</span>
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div style="z-index: 8;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="1700" data-speed="1500" data-y="191" data-x="194" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/22.png') }}">
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div style="z-index: 9;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="4400" data-speed="1500" data-y="233" data-x="66" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/arrow11.png') }}">
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div style="z-index: 10;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="5300" data-speed="1500" data-y="240" data-x="79" class="tp-caption large_bold_black2_1 lfb ltb tp-resizeme start">
                        <span style="color: rgb(253, 183, 20);">Rome</span>
                        <span style="font-size: 8px">à partir de</span> 1350 <span style="font-size: 8px">DT</span>
                    </div>

                    <!-- LAYER NR. 10 -->
                    <div style="z-index: 11;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="2000" data-speed="1500" data-y="8" data-x="341" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/33.png') }}">
                    </div>

                    <!-- LAYER NR. 11 -->
                    <div style="z-index: 12;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="4100" data-speed="1500" data-y="90" data-x="213" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/arrow11.png') }}" style="width: 182px; height: 67px;">
                    </div>

                    <!-- LAYER NR. 12 -->
                    <div style="z-index: 13;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="5600" data-speed="1500" data-y="95" data-x="232" class="tp-caption large_bold_black2_1 lfb ltb tp-resizeme start">
                        <span style="color: rgb(253, 183, 20);">Paris</span>
                        <span style="font-size: 8px">à partir de</span> 750 <span style="font-size: 8px">DT</span>
                    </div>

                    <!-- LAYER NR. 13 -->
                    <div style="z-index: 14;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="2300" data-speed="1500" data-y="8" data-x="657" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/44.png') }}" style="width: 157px; height: 209px;">
                    </div>

                    <!-- LAYER NR. 14 -->
                    <div style="z-index: 15;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="3800" data-speed="1500" data-y="87" data-x="758" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/arrow112.png') }}" style="width: 204px; height: 69px;">
                    </div>

                    <!-- LAYER NR. 15 -->
                    <div style="z-index: 16;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="5900" data-speed="1500" data-y="96" data-x="772" class="tp-caption large_bold_black2_1 lfb ltb tp-resizeme start">
                        <span style="color: rgb(253, 183, 20);">New york</span>
                        <span style="font-size: 8px">à partir de</span> 990 <span style="font-size: 8px">DT</span>
                    </div>

                    <!-- LAYER NR. 16 -->
                    <div style="z-index: 17;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="2600" data-speed="1500" data-y="207" data-x="827" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/66.png') }}" style="width: 157px; height: 168px;">
                    </div>

                    <!-- LAYER NR. 17 -->
                    <div style="z-index: 18;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="3500" data-speed="300" data-y="230" data-x="910" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/arrow112.png') }}" style="width: 204px; height: 69px;">
                    </div>

                    <!-- LAYER NR. 18 -->
                    <div style="z-index: 19;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="6200" data-speed="1500" data-y="238" data-x="935" class="tp-caption large_bold_black2_1 lfb ltb tp-resizeme start">
                        <span style="color: rgb(253, 183, 20);">Egypte</span>
                        <span style="font-size: 8px">à partir de</span> 850 <span style="font-size: 8px">DT</span>
                    </div>

                    <!-- LAYER NR. 19 -->
                    <div style="z-index: 20;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="2900" data-speed="1500" data-y="406" data-x="817" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/77.png') }}">
                    </div>

                    <!-- LAYER NR. 20 -->
                    <div style="z-index: 21;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="3200" data-speed="1500" data-y="430" data-x="921" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/arrow112.png') }}">
                    </div>

                    <!-- LAYER NR. 21 -->
                    <div style="z-index: 22;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="6500" data-speed="1500" data-y="438" data-x="941" class="tp-caption large_bold_black2_1 lfb ltb tp-resizeme start">
                        <span style="color: rgb(253, 183, 20);">Inde</span>
                        <span style="font-size: 8px">à partir de</span> 4550 <span style="font-size: 8px">DT</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
#}
{#<div id="slideshow">
    <div class="fullwidthbanner-container">
        <div class="revolution-slider" style="height: 0; overflow: hidden;">
            <ul>    <!-- SLIDE  -->
                <li data-masterspeed="500" data-slotamount="7" data-transition="turnoff-vertical">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/bg.jpg') }}" alt="">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div style="z-index: 2;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="500" data-speed="1500" data-y="324" data-x="-481" class="tp-caption sfb stb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/badaal.png') }}">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div style="z-index: 3;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="800" data-speed="1500" data-y="102" data-x="203" class="tp-caption skewfromright ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/area.png') }}">
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div style="z-index: 4;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="1100" data-speed="1500" data-y="205" data-x="389" class="tp-caption sfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/girl1.png') }}">
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div style="z-index: 5;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="1400" data-speed="1500" data-y="342" data-x="250" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/11.png') }}">
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div style="z-index: 6;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="4700" data-speed="1500" data-y="420" data-x="122" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/arrow11.png') }}">
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div style="z-index: 7;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="5000" data-speed="1500" data-y="428" data-x="130" class="tp-caption large_bold_black2_1 lfb ltb tp-resizeme start">
                        <span style="color: rgb(253, 183, 20);">England</span>
                        <span style="font-size: 8px">à partir de</span> 990 <span style="font-size: 8px">DT</span>
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div style="z-index: 8;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="1700" data-speed="1500" data-y="191" data-x="194" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/22.png') }}">
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div style="z-index: 9;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="4400" data-speed="1500" data-y="233" data-x="66" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/arrow11.png') }}">
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div style="z-index: 10;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="5300" data-speed="1500" data-y="240" data-x="79" class="tp-caption large_bold_black2_1 lfb ltb tp-resizeme start">
                        <span style="color: rgb(253, 183, 20);">Rome</span>
                        <span style="font-size: 8px">à partir de</span> 1350 <span style="font-size: 8px">DT</span>
                    </div>

                    <!-- LAYER NR. 10 -->
                    <div style="z-index: 11;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="2000" data-speed="1500" data-y="8" data-x="341" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/33.png') }}">
                    </div>

                    <!-- LAYER NR. 11 -->
                    <div style="z-index: 12;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="4100" data-speed="1500" data-y="90" data-x="213" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/arrow11.png') }}" style="width: 182px; height: 67px;">
                    </div>

                    <!-- LAYER NR. 12 -->
                    <div style="z-index: 13;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="5600" data-speed="1500" data-y="95" data-x="232" class="tp-caption large_bold_black2_1 lfb ltb tp-resizeme start">
                        <span style="color: rgb(253, 183, 20);">Paris</span>
                        <span style="font-size: 8px">à partir de</span> 750 <span style="font-size: 8px">DT</span>
                    </div>

                    <!-- LAYER NR. 13 -->
                    <div style="z-index: 14;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="2300" data-speed="1500" data-y="8" data-x="657" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/44.png') }}" style="width: 157px; height: 209px;">
                    </div>

                    <!-- LAYER NR. 14 -->
                    <div style="z-index: 15;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="3800" data-speed="1500" data-y="87" data-x="758" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/arrow112.png') }}" style="width: 204px; height: 69px;">
                    </div>

                    <!-- LAYER NR. 15 -->
                    <div style="z-index: 16;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="5900" data-speed="1500" data-y="96" data-x="772" class="tp-caption large_bold_black2_1 lfb ltb tp-resizeme start">
                        <span style="color: rgb(253, 183, 20);">New york</span>
                        <span style="font-size: 8px">à partir de</span> 990 <span style="font-size: 8px">DT</span>
                    </div>

                    <!-- LAYER NR. 16 -->
                    <div style="z-index: 17;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="2600" data-speed="1500" data-y="207" data-x="827" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/66.png') }}" style="width: 157px; height: 168px;">
                    </div>

                    <!-- LAYER NR. 17 -->
                    <div style="z-index: 18;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="3500" data-speed="300" data-y="230" data-x="910" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/arrow112.png') }}" style="width: 204px; height: 69px;">
                    </div>

                    <!-- LAYER NR. 18 -->
                    <div style="z-index: 19;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="6200" data-speed="1500" data-y="238" data-x="935" class="tp-caption large_bold_black2_1 lfb ltb tp-resizeme start">
                        <span style="color: rgb(253, 183, 20);">Egypte</span>
                        <span style="font-size: 8px">à partir de</span> 850 <span style="font-size: 8px">DT</span>
                    </div>

                    <!-- LAYER NR. 19 -->
                    <div style="z-index: 20;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="2900" data-speed="1500" data-y="406" data-x="817" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/77.png') }}">
                    </div>

                    <!-- LAYER NR. 20 -->
                    <div style="z-index: 21;" data-endspeed="300" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="3200" data-speed="1500" data-y="430" data-x="921" class="tp-caption lfb ltb start">
                        <img alt="" src="{{ asset('front-assets/images/sliders/revolution_slider/slider2/slide1/arrow112.png') }}">
                    </div>

                    <!-- LAYER NR. 21 -->
                    <div style="z-index: 22;" data-endspeed="1500" data-endelementdelay="0.1" data-elementdelay="0.1" data-splitout="none" data-splitin="none" data-easing="Power3.easeInOut" data-start="6500" data-speed="1500" data-y="438" data-x="941" class="tp-caption large_bold_black2_1 lfb ltb tp-resizeme start">
                        <span style="color: rgb(253, 183, 20);">Inde</span>
                        <span style="font-size: 8px">à partir de</span> 4550 <span style="font-size: 8px">DT</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

#}
<div id="slideshow">
    <div class="fullwidthbanner-container">
        <div class="revolution-slider" style="height: 0; overflow: hidden;">
            <ul>
                {% for slider in sliders %}
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" >
                    <!-- MAIN IMAGE -->
                    {% if slider is not null %}
                    <img src="{{ asset(slider.assetPath) }}" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    {% else %}
                    <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=No%20image%20available&w=2080&h=645"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    {% endif %}
                    <!-- LAYERS -->

                   {# <!-- LAYER NR. 1 -->
                    <div class="tp-caption sft"
                         data-x="351"
                         data-y="-15"
                         data-speed="1500"
                         data-start="500"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 2;"><img src="images/sliders/revolution_slider/slider6/slide1/cloud.png" alt="">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sft stt"
                         data-x="595"
                         data-y="5"
                         data-speed="1500"
                         data-start="800"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 3;"><img src="images/sliders/revolution_slider/slider6/slide1/cloud2.png" alt="">
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption sft stt"
                         data-x="315"
                         data-y="-40"
                         data-speed="1500"
                         data-start="1100"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 4;"><img src="images/sliders/revolution_slider/slider6/slide1/sun.png" alt="">
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption sfb stb"
                         data-x="center"
                         data-y="bottom"
                         data-speed="1500"
                         data-start="1400"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 5;"><img src="images/sliders/revolution_slider/slider6/slide1/big-cloud.png" alt="">
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption lfl str"
                         data-x="-485"
                         data-y="573"
                         data-speed="1500"
                         data-start="1700"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6;"><img src="images/sliders/revolution_slider/slider6/slide1/grass1.png" alt="">
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption lfl ltr"
                         data-x="540"
                         data-y="106"
                         data-speed="2500"
                         data-start="2500"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 7;"><img src="images/sliders/revolution_slider/slider6/slide1/couple.png" alt="">
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption lfl ltr"
                         data-x="366"
                         data-y="588"
                         data-speed="1500"
                         data-start="2000"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 8;"><img src="images/sliders/revolution_slider/slider6/slide1/top-grass.png" alt="">
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption lfr ltr"
                         data-x="998"
                         data-y="-16"
                         data-speed="1500"
                         data-start="2600"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 9;"><img src="images/sliders/revolution_slider/slider6/slide1/patiyanw.png" alt="">
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption large_bold_white_med_222 lfr stl tp-resizeme"
                         data-x="15"
                         data-y="186"
                         data-speed="1500"
                         data-start="2900"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">Peace of Mind
                    </div> #}

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption large_bold_white_med_222 lfr stl tp-resizeme start"

                         data-x="15"
                         data-y="234"
                         data-speed="1500"
                         data-start="3200"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"

                         style="z-index: 11; max-width: auto; max-height: auto; white-space: nowrap;"><a href="{{ slider.url }}">{{ slider.titre1 }}</a>
                    </div>

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption black3_1112 lfl stl tp-resizeme"
                         data-x="15"
                         data-y="299"
                         data-speed="1500"
                         data-start="3500"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"

                         style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">{{ slider.description }}
                    </div>

                    <!-- LAYER NR. 12 -->
                    <a class="tp-caption largewhitebg_button1 sfl stl tp-resizeme"

                       data-x="15"
                       data-y="389"
                       data-speed="1500"
                       data-start="3800"
                       data-easing="Power3.easeInOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-endspeed="300"

                       style="z-index: 13; max-width: auto; max-height: auto; white-space: nowrap;" href="#">BOOK NOW
                    </a>

                    <!-- LAYER NR. 13 -->
                    <a class="tp-caption largewhitebg_button1 lfr stl tp-resizeme"

                       data-x="160"
                       data-y="389"
                       data-speed="1500"
                       data-start="4100"
                       data-easing="Power3.easeInOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-endspeed="300"

                       style="z-index: 14; max-width: auto; max-height: auto; white-space: nowrap;" href="#">MORE INFO
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>