<div class="topnav hidden-xs">
    <div class="container">
        <ul class="quick-menu pull-left">
            <li><a>Welcome to Find A BabySitter</a></li>
        </ul>
        <ul class="quick-menu pull-right">
            {# Zied !!!! dont forgot header menu mobile #}
            {% if app.security.token is null or not is_granted('ROLE_USER') %}
                <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
            {% else %}
                <li><a> </a></li>
                <li class="ribbon">
                    <a href="#">Hi {{ app.user }}</a>
                    <ul class="menu mini">
                        <li {% if app.request.get('_route')=='fos_user_profile_edit' %}class="active"{% endif %}><a href="{{ path('fos_user_profile_edit') }}"> <i class="clip-calendar"></i> &nbsp;Edit username or email</a>
                        <li {% if app.request.get('_route')=='fos_user_change_password' %}class="active"{% endif %}><a href="{{ path('fos_user_change_password') }}"> <i class="clip-bubble-4"></i> &nbsp;Edit my password</a></li>
                    </ul>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a target="_blank" href="{{ path('back_administration_homepage') }}">BackOffice</a></li>
                {% endif %}
                {% if is_granted('ROLE_PARRENT') %}
                    <li><a target="_blank" href="{{ path('back_administration_homepage') }}">PARRENT</a></li>
                {% endif %}
                {% if is_granted('ROLE_BABYSITTER') %}
                    <li class="ribbon">
                        <a href="#">BabySitter Space</a>
                        <ul class="menu mini">
                            <li {% if app.request.get('_route')=='Front_BabySitter_Profile_myprofile' %}class="active"{% endif %}><a href="{{ path('Front_BabySitter_Profile_myprofile') }}">My Profile</a></li>
                            <li {% if app.request.get('_route')=='Front_BabySitter_Profile_mycalendar' %}class="active"{% endif %}><a href="{{ path('Front_BabySitter_Profile_mycalendar') }}">My Calendar</a></li>
                            <li {% if app.request.get('_route')=='Front_BabySitter_Profile_listBooking' %}class="active"{% endif %}><a href="{{ path('Front_BabySitter_Profile_listBooking') }}">List booking</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li><a href="{{ path('fos_user_security_logout') }}">Logout </a></li>
            {% endif %}
        </ul>
    </div>
</div>