<div class="col-sms-6 col-sm-6 col-md-4">
    <article class="box">
        <figure>
            <a href="{{ path('front_babysitter_profile',{'slug':babysitter.slug}) }}" title="" class="hover-effect popup-gallery">
                {% if babysitter.path is null %}
                    <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=No%20Picture%20available&w=270&h=160" />
                {% else %}
                    <img src="{{ asset(babysitter.assetPath) }}" style="width:270px ;height:160px" />
                {% endif %}
            </a>
        </figure>
        <div class="details">
            <a title="View all" href="{{ path('front_babysitter_profile',{'slug':babysitter.slug}) }}" class="pull-right button uppercase">Select</a>
            <h4 class="box-title">{{ babysitter }}</h4>
            <label class="price-wrapper">
                {{ babysitter.city }}
            </label>
        </div>
    </article>
</div>