{% extends ":Front:base.html.twig" %}
{% block title %}My list{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">List booking</li>
{% endblock %}
{% block body %}
    <div class="container">
        {% include ':Front:alert.html.twig' %}
        <div class="row">
            <div id="main" class="col-md-12">
                <div class="travelo-box">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Date of booking</th>
                            <th>Number of hours</th>
                            <th>Customer</th>
                            <th>Tel</th>
                            <th>Address</th>
                            <th>Total</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.showStatus }}</td>
                                <td>{{ booking.dateBooking|date('d F Y') }}, {{ booking.hour|date('H:i') }}</td>
                                <td>{{ booking.numberHour }} hours</td>
                                <td>{{ booking.name }}</td>
                                <td>{{ booking.tel }}</td>
                                <td>{{ booking.address }}</td>
                                <td>{{ booking.total }} $</td>
                                <td>{{ booking.description }}</td>
                                <td>
                                    {% if booking.status==2 %}
                                        {{ macros.tableValide(path('Front_BabySitter_Profile_validate',{'id':booking.id})) }}
                                        {{ macros.tableCancel(path('Front_BabySitter_Profile_cancel',{'id':booking.id})) }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(bookings) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>

        tjq(document).ready(function() {

            tjq('#calendar').fullCalendar({
                height: 400,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: '{{ 'now'|date('Y-m-d') }}',
                editable: false,
                eventLimit: false,
                events: [
                    {% for booking in validatedBookings %}
                    {
                        id: {{ booking.id }},
                        title: '{{ booking.user }} ({{ booking.numberHour }} hours)',
                        start: '{{ booking.dateBooking|date('Y-m-d') }}T{{ booking.hour|date('H:i:s') }}',
                    },
                    {% endfor %}
                ],
            });

        });

    </script>

    <script type='text/javascript'>

        tjq(document).ready(function() {
            tjq('#calendar').fullCalendar({
                googleCalendarApiKey: 'AIzaSyDoEiBHZz5lphh2FuPWsm872BIZ6nPP1nM',
                events: {
                    googleCalendarId: 'zied.kharraz@gmail.com'
                }
            });
        });

    </script>



{% endblock %}