{% extends ":Front:base.html.twig" %}
{% block title %}Space Babysitter{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">Space Babysitter</li>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div id="main" class="col-md-12">
                <div class="booking-section travelo-box">
                    {% include ':Front:alert.html.twig' %}
                    {{ form_start(form) }}
                    <div class="person-information booking-information">
                        <div class="booking-confirmation clearfix">
                            {% if babysitter.id is null %}
                                <i class="soap-icon-notice icon circle" style="color: red"></i>
                                <div class="message">
                                    <h4 class="main-message" style="color: red">Please complete Your Profile to validate it</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                                </div>
                            {% else %}
                                <i class="soap-icon-check icon circle" style="color: green"></i>
                                <div class="message">
                                    <h4 class="main-message" style="color: green">Your profile is validated</h4>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                        <h3 class="section-title">Personal information</h3>
                        <hr>
                        <div class="row">
                            {{ formulaire.input("col-md-2","Gender",form.gender,true) }}
                            {{ formulaire.input("col-md-3","First Name",form.firstName,true) }}
                            {{ formulaire.input("col-md-3","Last Name",form.lastName,true) }}
                            {{ formulaire.input("col-md-3","Phone number",form.phoneNumber,true) }}
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <img class="middle-item" src="{% if babysitter.path is null %}https://placeholdit.imgix.net/~text?txtsize=20&txt=No%20Picture&w=80&h=80{% else %}{{ asset(babysitter.assetPath) }}{% endif %}" style="width: 80px;height: 80px"/> </a>
                            </div>
                            {{ formulaire.input("col-md-3","Picture",form.file,true) }}
                            {{ formulaire.input("col-md-3","Religion",form.religion,true) }}
                            {{ formulaire.input("col-md-3","Birthday",form.birthday,true) }}
                        </div>
                        <hr>
                        <h3 class="section-title">About Me</h3>
                        <hr>
                        <div class="row">
                            {{ formulaire.input("col-md-12",null,form.shortDescription,true) }}
                        </div>
                        <hr>
                        <h3 class="section-title">Location</h3>
                        <hr>
                        <div class="row">
                            {{ formulaire.input("col-md-12","Address",form.address,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-3","City",form.city,true) }}
                            {{ formulaire.input("col-md-3","Country",form.country,true) }}
                            {{ formulaire.input("col-md-3","Longitude",form.longitude,true) }}
                            {{ formulaire.input("col-md-3","Latitude",form.latitude,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-4","Near To",form.near,true) }}
                            {{ formulaire.input("col-md-3","How Many KM",form.howManyKM,true) }}
                        </div>
                        <hr>
                        <h3 class="section-title">Disponiblity</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-condensed">
                                    <thead>
                                    <th></th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                                    <th>Sunday</th>
                                    </thead>
                                    <tbody>
                                    {% for i in 1..4 %}
                                        <tr>
                                            <th>{% if i==1 %}Morning{% elseif i==2 %}Midday{% elseif i==3 %}Afternon{% else %}Night{% endif %}</th>
                                            <td>{{ formulaire.input("col-md-12",null,form.disponibility['lundi'~i],true) }}</td>
                                            <td>{{ formulaire.input("col-md-12",null,form.disponibility['mardi'~i],true) }}</td>
                                            <td>{{ formulaire.input("col-md-12",null,form.disponibility['mercredi'~i],true) }}</td>
                                            <td>{{ formulaire.input("col-md-12",null,form.disponibility['jeudi'~i],true) }}</td>
                                            <td>{{ formulaire.input("col-md-12",null,form.disponibility['vendredi'~i],true) }}</td>
                                            <td>{{ formulaire.input("col-md-12",null,form.disponibility['samedi'~i],true) }}</td>
                                            <td>{{ formulaire.input("col-md-12",null,form.disponibility['dimanche'~i],true) }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr>
                        <h3 class="section-title">More Informations</h3>
                        <hr>
                        <div class="row">
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-4","Years Experiance",form.yearsExperiance,true) }}
                            {{ formulaire.input("col-md-4","N° of kids able to carry ",form.kidsAbleCarry,true) }}
                            {{ formulaire.input("col-md-4","Education",form.education,true) }}
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    {{ formulaire.select2("col-md-12","Languages",form.languages,true) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    {{ formulaire.input("col-md-12",null,form.pets,true) }}
                                    {{ formulaire.input("col-md-12",null,form.smoker,true) }}
                                    {{ formulaire.input("col-md-12",null,form.alcoholic,true) }}
                                    {{ formulaire.input("col-md-12",null,form.provideSickCare,true) }}
                                    {{ formulaire.input("col-md-12",null,form.specialNeeds,true) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    {{ formulaire.input("col-md-12",null,form.homeWorkHelp,true) }}
                                    {{ formulaire.input("col-md-12",null,form.driversLicense,true) }}
                                    {{ formulaire.input("col-md-12",null,form.cooking,true) }}
                                    {{ formulaire.input("col-md-12",null,form.videoGames,true) }}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h3 class="section-title">Social Network</h3>
                        <hr>
                        <div class="row">
                            {{ formulaire.input("col-md-6","Facebook Profile URL (Optional)",form.facebook,true) }}
                            {{ formulaire.input("col-md-6","Google + Profile URL (Optional)",form.googlePlus,true) }}
                            {{ formulaire.input("col-md-6","Twitter Profile URL (Optional)",form.twitter,true) }}
                            {{ formulaire.input("col-md-6","LinkedIn Profile URL (Optional)",form.linkedIn,true) }}
                        </div>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-block" type="submit">
                                    Update my profile <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
        tjq('#back_userbundle_babysitter_address').on('focusout', function () {
            var val = tjq(this).val();
            tjq('#back_userbundle_babysitter_city').val("Loading ...");
            tjq('#back_userbundle_babysitter_country').val("Loading ...");
            tjq('#back_userbundle_babysitter_longitude').val("Loading ...");
            tjq('#back_userbundle_babysitter_latitude').val("Loading ...");
            tjq.ajax({
                url: '{{ path('Front_BabySitter_Profile_ajax_to_address') }}',
                data: {'address': val},
                type: 'POST',
                dataType: 'json',
                success: function (json) {
                    tjq('#back_userbundle_babysitter_city').val(json[0]);
                    tjq('#back_userbundle_babysitter_country').val(json[1]);
                    tjq('#back_userbundle_babysitter_longitude').val(json[2]);
                    tjq('#back_userbundle_babysitter_latitude').val(json[3]);
                }
            });
        });
    </script>
{% endblock %}