{% extends "FrontGeneralBundle:BabySitter:calendar.html.twig" %}
{% block title %}{{ babysitter }}{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">Booking</li>
{% endblock %}
{% block body %}
    <div class="container">
        <div id="main">
            <div class="row">
                <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                    <div class="booking-section travelo-box">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="person-information">
                            <h2>Booking</h2>
                            <div class="form-group row">
                                <div class="col-sm-4 col-md-3">
                                    {{ form_row(form.name) }}
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    {{ form_row(form.tel) }}
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    {{ form_row(form.address) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 col-md-3">
                                    {{ form_row(form.hour) }}
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    {{ form_row(form.numberHour) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 col-md-10">
                                    {{ form_row(form.description) }}
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" required> By continuing, you agree to the <a href="#"><span
                                                class="skin-color">Terms and Conditions</span></a>.
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 col-md-5">
                                <button type="submit" class="full-width btn-large">Confirm Booking &Payment</button>
                            </div>
                            <div class="col-sm-6 col-md-5">
                                <h2>Total : <strong style="color: #98ce44;font-size: 1.5em;"
                                                    id="totalBooking">{{ calendar.priceByDay(app.request.get('day')) }}
                                        $ </strong></h2>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                {% include 'FrontGeneralBundle:BabySitter/Profile:siderbar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
        tjq(document).ready(function () {
            tjq('#back_userbundle_booking_numberHour').on('change', function () {
                tjq('#totalBooking').html((tjq(this).val() *{{ calendar.priceByDay(app.request.get('day')) }}) + ' $');
            })
        })
    </script>
{% endblock %}